:root {
  --accent-color: lightblue;
  --active-color: rgba(0, 155, 255, 1);
  --fs-500: 1.1rem;
  --fs-600: 1.5rem;
  --fs-900: 1.75rem;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  margin: 0;
  font-size: var(--fs-600);
}

header,
footer {
  position: fixed;
  width: 100%;
  z-index: 1;
}

header {
  top: 0;
  padding: 20px;
  background-color: var(--accent-color);
  border-bottom: 2px solid black;
  box-shadow: 0px -10px 13px 10px black;
}

main {
  padding: 95px 20px 80px 20px;
}

section {
  position: relative;
  background-color: lightgray;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  bottom: 0;
  display: flex;
  background-color: var(--accent-color);
  justify-content: space-between;
  border-top: 2px solid black;
  box-shadow: 0px 10px 13px 10px black;
}

.footer__icon {
  height: 90px;
  padding: 20px;
  object-fit: scale-down;
}

.footer__link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link.footer__link--active {
  background-color: var(--active-color);
}

.answer.hidden {
  display: none;
}

/*-------------------
OLD CODE
----------------*/

/* general.css where you style the
header, main and footer only. */

/* .question__card__answer {
    display: none;
    visibility: hidden;
} */

/* HOMEPAGE */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* header {
  position: fixed;
  top: 0;
  padding: 0;
  width: 100%;
  height: 15vh;
  background: #393053;
  color: #fffbeb;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  z-index: 1;
  display: flex;
}

body {
  margin: 0;
  background-color: #635985;
  color: #fffbeb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
} */
/* 
main {
  padding: 20vh 0;
  margin: 20px;
  text-align: center;
  color: #fffbeb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  justify-content: center;
  align-items: center;
  margin: 2px;
  color: #fffbeb;
}

.card {
  width: 80%;
  margin: auto;
  background-color: #443c68;
  border-radius: 10px;
  position: relative;
}

.card__button {
  margin: 2px;
  color: #fffbeb;
  border-style: solid;
  border-radius: 10px;
  background-color: #393053;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
} */

/* body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  .light-mode {
    background-color: white;
    color: black;
  } */

/* .card__bookmark {
  position: absolute;
  top: -15px;
  right: 10px;
  width: 50px;
  /* transform: translate(-50%); */
/* } */

/* .footer {
  background-color: #393053;
  position: fixed;
  bottom: 0;
  padding: 0;
  width: 100%;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  display: flex;
}

.footer__link {
  margin: 20px 20px 20px 20px;
}

.footer__link--homeImg {
  width: 10vh;
  height: auto;
}

.footer__link--bookmarkImg {
  width: 10vh;
  height: auto;
}

.footer__link--profileImg {
  width: 10vh;
  height: auto; */

/*BEM*/
/* B  -  */
/* E - */
/* M -  */

/* @import "./variable.css";
    
    * {
      box-sizing: border-box;
      font-family: var(--font-family);
    }
    
    .card {
      margin: 20px auto;
      padding: 30px;
      border: var(--main-color);
    }
    
    .card__titel {
      font-weight: lighter;
      margin-bottom: 10px;
      color: var(--card-title-color);
    }
    
    .card--primary--color {
      border-color: var(--primary-color);
    }
    
    .card--secondary--color {
      border: 4px dotted var(--secondary-color);
    }
    */
